@model CodeFirst.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Age</dt>
        <dd class="col-sm-10">@Model.StudentAge</dd>

        <dt class="col-sm-2">Gender</dt>
        <dd class="col-sm-10">@Model.StudentGender</dd>

        <dt class="col-sm-2">Standard</dt>
        <dd class="col-sm-10">@Model.StudentStandard</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
